{% extends 'base.html.twig' %}

{% block body %}

{% if res.status is defined %}
    <h1>
        Hello world!
    </h1>
    <p>
        {% if res.status === 'success' %}
            This is a success!
        {% else %}
            {{ 'Error: ' ~ res.error }}
        {% endif %}
    </p>
{% endif %}

{% endblock %}