RewriteEngine On
RewriteBase /

# Si la requête n'est pas pour un fichier existant
RewriteCond %{REQUEST_FILENAME} !-f
# Si la requête n'est pas pour un répertoire existant
RewriteCond %{REQUEST_FILENAME} !-d
# Rediriger vers index.php
RewriteRule ^ index.php [L,QSA]